# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
server/.venv/

# Database
*.db
*.sqlite
*.sqlite3

# Uploads
server/server/media/

# Environment
server/.env
server/malayalam.env

# Node
node_modules/
dist/